/build/
*.class
/manifest.mf
/nbproject/private/
.project
.classpath
.settings/
libs/**/*.sha1
libs/**/_remote.repositories
/.idea/*
ProyectoConstruccion.iml

# JaCoCo coverage reports
*.exec
/libs/jacoco/

# JUnit 5 libraries (downloaded automatically)
/bin/
