name: Build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarqube:
    name: SonarQube
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up JDK 22
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '22'
      - name: Build with Ant
        run: ant compile "-Dplatforms.default_platform.home=$env:JAVA_HOME"
      - name: Run Tests with Coverage
        run: ant test-with-coverage "-Dplatforms.default_platform.home=$env:JAVA_HOME"
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.java.binaries=build/classes
            -Dsonar.coverage.jacoco.xmlReportPaths=build/jacoco/jacoco.xml
            -Dsonar.junit.reportPaths=build/test/results
